bin
bin.Win32/
bin.x64/
bin.x86/
obj.ARM/
obj.Win32/
obj.x64/
obj.x86/
wtrace.opensdf
wtrace.sdf
wtrace.v12.suo
wtrace.vcxproj.user
src/test/googletest/gtest-all.obj
src/test/googletest/vc120.pdb
src/test/gtest-all.obj
